body{
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://image-processor-storage.s3.us-west-2.amazonaws.com/images/3cf61c1011912a2173ea4dfa260f1108/halo-of-neon-ring-illuminated-in-the-stunning-landscape-of-yosemite.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

button{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em;
    font-size: 1em;
    transition: all 0.25s;
}

button:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em#f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}