/* Checkerboard Exercise
The index.html file contains 25 <div> elements, each with the class of square. Please create a simple checkerboard pattern by making the even squares black and the odd squares red.  Your result should look like the image below.  Please write your styles in app.css, and do not change any of the styles in NO_TOUCHING.css :)

Please note: the solution needs to select both the even and odd squares, changing the background color of the entire board will work visually, but will not pass the exercise parameters. */

.square {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid black;
}

#board {
  display: flex;
  margin: 0 auto;
  width: 500px;
  flex-wrap: wrap;
}

.square:nth-of-type(n){
    background-color: red;
}

.square:nth-of-type(2n){
    background-color: black;
}