section{
    background-color: papayawhip;
    width: 500px;
    height: 500px;
}

div{
    background-color: blueviolet;
    width: 50%;
    height: 50%;
}

h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2{
    font-size:2em ;
    margin-left: 1em;
}

article{
    font-size: 30px;
}

p{
    font-size: 0.8em;
}

button{
    font-size: 30px;
    padding: 0,30px;
    border-radius: 2em;
    margin-top: 30px;
    background-color: maroon;
    color: bisque;
    border: 2px solid black;
}

#rem h2{
    font-size: 3rem;
}

#rem ul{
    font-size: 2rem;
}