h1{
    background-color: blanchedalmond;
    border: 2px solid black;
    display: inline;

}

/* span{
    background-color: aquamarine;
    border: 2px solid black;
    display: block;
    margin-top: 10px;
} */

#one{
    background-color: aquamarine;
    border: 2px solid black;
    width: 300px;
    padding: 100px;
}

div{
    height: 100px;
    width:200px;
    background-color: blue;
    margin: 30px;
    border: 5px solid black;
    display: inline-block;
}