body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

#container{
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    font-size: 6em;
    text-align: center;
    /* flex-direction: row;
    flex-direction: row-reverse;*/
    /* flex-direction: column; */
    flex-direction: row;
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    align-items: flex-start;
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-content: center; */
    /* align-content: space-evenly; */
    /* align-content: flex-start; */
}

#container div{
    width: 200px;
    height: 200px;
}

div:nth-of-type(3){
    align-self: center;
}
div:nth-of-type(1){
    align-self: flex-end;
}