*{
    background-color: white;
}

div{
    width: 400px;
    height: 400px;
    background-color: bisque;
}

h1{
    background-color: pink;
    width: 130px;
    margin-bottom: 30px;
    margin-left: 100px;
}

#one{
    background-color: pink;
    border-width: 0.2em;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 100px;
    margin-bottom: 30px;
}

#two{
    background-color: chocolate;
    border-width: 0.5em;
    border-color: rgb(233, 8, 8);
    border-style: inset;
    box-sizing: border-box;
    border-left-width: 1em;
     border-radius: 50%;
     margin: 100px;
}

#three{
    background-color: aquamarine;
    border: 4px solid rgb(9, 9, 9);
    border-radius: 10px 20px 30px 40px;
}

button{
    padding: 100px;
    background-color: rgb(109, 246, 109);
    color: blueviolet;
    font-size: 30px;
    border-radius: 30px;
}