img{
    width: 30%;
    height: 450px;
    margin: 1.555%;
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: 1.555%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 420;
    font-style: normal;
}